<!-- Header -->
<app-header
	[sidenavCollapsed]="sidenavCollapsed"
	(sidenavToggle)="toggleSidenav()"
></app-header>

<!-- Contenedor principal -->
<mat-sidenav-container>
	<!-- SideNav -->
	<mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
		<app-sidenav [sidenavCollapsed]="sidenavCollapsed()"></app-sidenav>
	</mat-sidenav>

	<!-- Contenido -->
	<mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
