<div class="row g-3">
	<div class="col-12 col-md-6 col-xl-3">
		<app-kpi-card
			kpiIcon="shopping_cart"
			kpiValue="$13.2M"
			kpiText="Ventas totales"
			kpiCircleColor="--primary"
			kpiIconColor="--primary-light"
		></app-kpi-card>
	</div>
	<div class="col-12 col-md-6 col-xl-3">
		<app-kpi-card
			kpiIcon="trending_up"
			kpiValue="$13.2M"
			kpiText="Beneficio neto"
			kpiCircleColor="--info"
			kpiIconColor="--info-light"
		></app-kpi-card>
	</div>
	<div class="col-12 col-md-6 col-xl-3">
		<app-kpi-card
			kpiIcon="school"
			kpiValue="$13.2M"
			kpiText="Curso más vendido"
			kpiCircleColor="--accent"
			kpiIconColor="--accent-light"
		></app-kpi-card>
	</div>
	<div class="col-12 col-md-6 col-xl-3">
		<app-kpi-card
			kpiIcon="group_add"
			kpiValue="$13.2M"
			kpiText="Nuevos alumnos"
			kpiCircleColor="--warning"
			kpiIconColor="--warning-light"
		></app-kpi-card>
	</div>
</div>
