mat-tab-group {
	border: 1px solid #808080;
	border-radius: 16px;
	padding: 0px 12px;
}

::ng-deep .tab-multi-line .mat-mdc-tab {
	height: auto;
	padding: 12px 32px;
}

.kpi-text {
	text-align: center;

	> p {
		margin: 0;
		line-height: 2rem;
	}

	> h2 {
		margin: 0;
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: 600;
	}
}
